.migration-source,
.migration-display {
  float: left;
}

.migration-display {
  width: 57%;
}

.migration-source {
  position: relative;
  width: 40%;
  padding: 10px;
  border: 2px solid #ccc;
}

.migration-source textarea {
  overflow: hidden;
  width: 95%;
  border: 0;
  font-family: Monospace;
}

.migration-source .copy-source {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 7em;
  text-align: center;
  border: 1px solid blue;
}
