{#
/**
 * @file
 * Render a Migration as a GraphViz chart.
 *
 * Available variables:
 * - migration: The migration to render
 * - source: Array of source fields
 * - destination: Array of destination fields
 * - process: Array of source to destination mappings
 *
 * @see template_preprocess_graphviz_visualize()
 *
 * @ingroup themeable
 */
#}
<h1>{{ migration.label() }}</h1>
<style>
  div.graphviz object { max-width: 100%; }
</style>
<div class="graphviz">
  {{ graphviz | raw }}
</div>

