{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - migration: The migration to render
 *
 * @see template_preprocess_mermaid_visualize()
 *
 * @ingroup themeable
 */
#}
<h1>{{ migration.label() }}</h1>
<pre class="mermaid-no">
  flowchart LR
  subgraph Source[fa:fa-cloud-download Source]
    subgraph Core[Core]
      d7_title[title]
      d7_body[body]
    end
    subgraph Fields[Site]
      d7_field_event_date[field_event_date]
      d7_field_event_type[field_event_type]
      d7_field_last_update_date[field_last_update_date]
      d7_field_location[field_location]
      d7_field_media_document[field_media_document]
      d7_field_related_external_url[field_related_external_url]
      d7_field_related_internal_url[field_related_internal_url]
      d7_field_solr_keywords[field_solr_keywords]
      d7_field_social_share_image[field_social_share_image]
    end
  end

  subgraph Destination[fa:fa-cloud-upload Destination]
    subgraph D9Node[Node]
      d9_title[title]
      d9_body[body]
    end
    subgraph D9Sector[Sector]
      d9_field_last_updated[field_last_updated]
      d9_field_event_date[field_event_date]
      d9_field_event_location[field_event_location]
      d9_field_event_category[field_event_category]
      d9_field_related_files[field_related_files]
      d9_field_related_external_links[field_related_external_links]
      d9_field_related_internal_links[field_related_internal_links]
    end
    subgraph D9Site[Site]
      d9_field_solr_keywords[field_solr_keywords]
      d9_field_social_share_image[field_social_share_image]
    end
    end

  d7_title --> d9_title
  d7_body --> d9_body
  d7_field_last_update_date --> d9_field_last_updated
  d7_field_media_document -.-> d9_field_related_files
  d7_field_related_external_url --> d9_field_related_external_links
  d7_field_related_internal_url --> d9_field_related_internal_links
  d7_field_solr_keywords -.-> d9_field_solr_keywords
  d7_field_social_share_image -.-> d9_field_social_share_image
  d7_field_event_type -.-> d9_field_event_category
  d7_field_event_date -.-> d9_field_event_date
  d7_field_location -.-> d9_field_event_location
</pre>
